head
  meta(charset="utf-8")
  title NIA Monitoring
  meta(name="description" content="Novel Infectious Agent Monitoring")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" type="image/png" href="/images/favicon.png")
  script(src="/libs/Chart.bundle.min.js")
