head
  meta(charset="utf-8")
  title NIA Monitor
  meta(name="description" content="Novel Infectious Agent Monitoring")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="icon" type="image/png" href="/images/favicon.png")
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800,300italic,400italic,600italic,800italic'
    rel='stylesheet'
    type='text/css')
  script(src="/libs/Chart.bundle.min.js")
