template(name="frequentDescriptors")
  table#frequentDescriptorsTable.table.table-striped
    tbody
      each frequentDescriptors
        tr
          td.frequentDescriptorsTableRow(data-agentname=name)
            div.fmia-word= selText
          td appears in #{count} articles
      else
        span.no-priors.col-md-12 No Frequent Descriptors
