template(name="about")
  +header
  .about
    .container-fluid.about--intro-content
      .description-heading NIAM displays the diseases mentioned in ProMED-mail posts.
      .page-description
        | It indicates a disease's novelty by measuring the time since the prior mention.
        | Diseases with no prior mentions or no prior mentions within several years are considered novel.


    .about--detail-wide
      .detail-text
        | The application allows users to delve into historical data about how
        | and when each disease was mentioned.
        | For instance, the detail page shows a timeline of mentions by year and descriptors
        | associated with diseases, like "antibiotic-resistant".
        | Upsurges in the frequencies at which common diseases
        | are mentioned are tracked through the trending infectious agent panel.
      .detail-image
        img(src="images/about/graph.svg")

    h3 NIAM API
    .about--detail-centered
      .detail-text
        p
          | Other applications can use NIAM's disease mention data by
          | connecting to its API.
      a.btn.btn-primary.btn-allcaps(href="/.apidocs/index.html") Goto API

    h3 Acknowledgements
    .about--detail-wide.acknowledgements
      .acknowledgement
        a(href="//ecohealthalliance.org")
          img(src="images/logos/eha-logo.svg")
      .acknowledgement
        a(href="//www.dtra.mil/")
          img.square(src="images/logos/dtra-logo.svg")
      .acknowledgement
        a(href="//www.promedmail.org/")
          img(src="images/logos/promed-logo.svg")

    .about--detail-centered
      p Need more info?
      a.btn.btn-default.btn-mail(href="mailto:tech@ecohealthalliance.org?subject=Question about NIAM") Email us

    .about--detail-centered
      a(href="/datasummary") Database summary stats