template(name='datasummary')
  +header
  h2.col-md-12.dbSummaryHeaderText Database Summary Statistics
  .col-md-6.col-md-offset-3
    #dataSummaryDiv(style='padding-top: 50px;')
      table#articlesTable.table
        tbody
          th Annotator
          th Articles

          each articlesByAnnotator
            tr
              td.ital
                if annotator
                  a(href=annotator) {{annotator}}
                else
                  | unannotated
              td.ital {{articleCount}}
          tr.bold
            td Total
            td #{totalArticleCount}
