template(name='datasummary')
  .col-md-6.col-md-offset-3
    #dataSummaryDiv(style='padding-top: 50px;')
      table#articlesTable.table
        tbody
          each articles
            tr
              td.ital {{annotator}}
              td.ital {{articles}}
