template(name='datasummary')
  +header
  h2.col-md-12.dbSummaryHeaderText Database Summary Statistics
  .col-md-6.col-md-offset-3
    #dataSummaryDiv(style='padding-top: 50px;')
      table#postsTable.table
        tbody
          th Annotator
          th Posts

          each postsByAnnotator
            tr
              td.ital
                if annotator
                  a(href=annotator) {{annotator}}
                else
                  | unannotated
              td.ital {{postCount}}
          tr.bold
            td Total
            td #{totalPostCount}
