template(name='descriptor')
  +header

  h2.col-md-12.articleHeader.descriptorHeaderText
    | Descriptor: #{descriptorName}
    if term
      | , Term: #{term}
  .col-md-12
    .panel.panel-primary
      .panel-body
        #recentMentions
          h4 Recent Mentions
          .panel.panel-default
            +recentDescriptorMentions
