template(name='descriptor')
  +header
  .recent-mentions
    .recent-mentions--header
      h1.article-header.descriptor-header-text Recent Mentions
      .mention--details
        .descriptor
          span Descriptor
          h1= descriptorName
        if term
          .seperator
          .term
            span Term
            h2= term
    .list
      +recentDescriptorMentions
