template(name='detail')
  +header
  h2.articleHeader.mainHeaderText #{agent}
  ul.nav.nav-tabs.col-md-12
    li.active#recentMentionsPanelTab
      a(href='#recentMentionsPanel', data-toggle='tab') Recent Mentions
    li#timelinePanelTab
      a(href='#timelinePanel', data-toggle='tab') Timeline
    li#frequentDescriptorsPanelTab
      a(href='#frequentDescriptorsPanel', data-toggle='tab') Frequent Descriptors
  .tab-content
    #recentMentionsPanel.tab-pane.active
      #recentMentions
    #timelinePanel.tab-pane
      #timeline
    #frequentDescriptorsPanel.tab-pane
      #frequentDescriptors
