template(name='timeline')
  .col-md-6.col-md-offset-3
    #timeLineSpinner.loading.spinner-margin
        i.fa.fa-spinner.fa-2x.fa-spin
    #timelineDiv(style='padding-top: 50px;')
      canvas#canvas(width='400', height='200')
