template(name="proMedModal")
  #proMedModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          button.fa.fa-times.close.fa-2x(type='button', data-dismiss='modal')
          h4
            a#proMedURL
        .modal-body
          iframe#proMedIFrame
