template(name='header')
  .header.container-fluid-padded
    a.logo(href="/")
      img(src="/images/logo.svg" alt="Novel Infectious Agent Monitor")
    nav.main-nav
      ul.list-unstyled
        li.dropdown
          a.feed.feedText.dropdown-toggle(href='#', data-toggle='dropdown')
            #feed #{region}
              div.caret
          ul.dropdown-menu.regionSelector(role='menu')
            li
              a.feed-opt(href='#')  All Feeds
            each feeds
              li #{label}
        li
          a(href="/about") About
