template(name='header')
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400&subset=latin,latin-ext', rel='stylesheet', type='text/css')
  nav.navbar.navbar-default
    div.container-fluid
      div.col-md-6.col-md-offset-3
        div.col-md-6
          a(href="/")
            img.logo(src="/images/logo.svg" alt="Novel Infectious Agent Monitor")
        div.col-md-6
          a.about.aboutText(href="/about") About

  #proMedModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header
          button.fa.fa-times.close.fa-2x(type='button', data-dismiss='modal')
          h4
            a#proMedURL
        .modal-body
          iframe#proMedIFrame
