template(name='header')
  nav.navbar
    div.container-fluid.about
      div.navbar-header
        a.logo(href="/")
          h1 Novel Infectious Agent Monitor
        div
          a.aboutText(href="/") ABOUT
