template(name='header')
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.logo(href="/")
          h1 Novel Infectious Agent Monitor
  .col-md-12.headerDescriptionContainer
    h2.col-md-8.col-md-offset-2.headerDescription
      | NIAM displays the diseases mentioned in Pro MED mail posts. A disease's novelty can be assessed through its time since the previous mention and through its ranking on the trending diseases list.
    h4.col-md-8.col-md-offset-2 Click on a disease to see its historical mentions.
