template(name='main')
  +header
  ul.nav.nav-tabs
    li.active#recentPanelTab
      a(href='#recentPanel', data-toggle='tab') Recent
    li#frequentPanelTab
      a(href='#frequentPanel', data-toggle='tab') Frequent
    li#trendingPanelTab
      a(href='#trendingPanel', data-toggle='tab') Trending
  .tab-content
    #recentPanel.tab-pane.active
      #recentlyMentionedInfectiousAgents
    #frequentPanel.tab-pane
      #frequentlyMentionedInfectiousAgents
    #trendingPanel.tab-pane
      #trendingInfectiousAgents
  .clear
