template(name='main')
  +header

  .col-md-6.pull-left
    .panel.panel-default
      .panel-body
        #recentlyMentionedInfectiousAgents
          .panel.panel-default
            .panel-heading
              h4 Recently Mentioned Infectious Agents
            div
              +recentAgents

  .col-md-6.pull-right
    .panel.panel-default
      .panel-body
        #frequentlyMentionedInfectiousAgents
          .panel.panel-default
            .panel-heading
              h4 Frequently Mentioned Infectious Agents
            div
              +frequentAgents
