template(name="frequentDescriptors")
  .list
    table.table.table-centered-content
      thead
        tr
          th Descriptor
          th Article Count
      tbody
        each frequentDescriptors
          tr
            td
              span.fmia-word
                a(href="/descriptor/{{plus selText}}/{{plus term}}")= selText
            td= count

    if ready
      unless empty
        p.no-priors.centered.subtle No Frequent Descriptors
    else
      .loading.spinner-margin
        i.fa.fa-spinner.fa-2x.fa-spin
