template(name="frequentAgents")
  table#frequentAgentsTable.table.table-striped
    tbody
      each frequentAgents
        tr
          td.frequentlyMentionedInfectiousAgentsTableRow(data-agentname=word)
            div.fmia-word
              a(href="/detail/#{word}")= word
          td appears in {{pluralize 'article' count}}
