template(name="frequentAgents")
  .col-md-6.col-md-offset-3
    h4.col-md-12.iaHeader Frequently Mentioned Infectious Agents
    .col-md-12
      table#frequentAgentsTable.table
        tbody
          each frequentAgents
            tr.ital
              td.frequentlyMentionedInfectiousAgentsTableRow(data-agentname=word)
                div.fmia-word
                  a(href="/detail/#{word}")= word
              td
                div.pull-right appears in {{pluralize 'article' count}}
          if isLoading
            .loading.spinner-margin
              i.fa.fa-spinner.fa-2x.fa-spin
