template(name="frequentAgents")
  .list
    table.table.table-centered-content
      thead
        tr
          th Infectious Agent
          th Article Count
      tbody
        each frequentAgents
          tr
            td.frequentlyMentionedInfectiousAgentsTableRow(data-agentname=word)
              span.fmia-word
                a(href="/detail/#{word}")= word
            td= count
        if isLoading
          .loading.spinner-margin
            i.fa.fa-spinner.fa-2x.fa-spin
