template(name="frequentDescriptors")
  table#frequentDescriptorsTable.table.table-striped
    tbody
      each frequentDescriptors
        tr
          td.frequentDescriptorsTableRow(data-agentname=name)
            div.fmia-word
              a(href="/descriptor/{{plus selText}}/{{plus name}}")= selText
          td appears in {{pluralize 'article' count}}
      else
        if ready
          span.no-priors.col-md-12 No Frequent Descriptors
        else
          | Loading...
