template(name="recentAgents")
  .list
    each post
      .col-md-8.col-xs-7.postHeader
        h4
          a.proMedLink.postHeaderText(href="#" uri=uri) {{postSubject}}
      .col-md-4.col-xs-5.postHeader.ital
        h4
          .pull-right {{ageOrDate postDate}}
      table#recentAgentsTable.table
        tbody
          each recentAgentsForPost _id collapsed
            tr
              td.recentlyMentionedInfectiousAgentsTableRow(data-agentname=word)
                a(href="/detail/{{plus word}}")= word
              td.ital
                if priorPost
                  .pull-right
                    span.boldrange {{since ../date priorPostDate}}
                    span since
                    a.proMedLink(href="#" uri=priorPost) prior mention
                else
                  span.no-priors.pull-right no prior mentions
      if collapsed
        .more.text-center
          button(type="button").btn.btn-show-all-ia Show All Infectious Agents for Post
    if isLoading
      .loading.spinner-margin
        i.fa.fa-spinner.fa-2x.fa-spin
    else
      unless theEnd
        button(type="button").btn.btn-info.load-more-posts Load More
