template(name="recentDescriptorMentions")
  each sources
    article.centered-content
      .details
        h1
          a.promed-link.featured(href="#" uri=uri)=postSubject
        .time-link
          p {{age date}}
      ul.keword-in-context-list.list--sub-group.list-unstyled
        each mentionsForSource _id
          li
            p.keword-in-context #{kwic}
  else
    +loader classes='inline'
