template(name="recentMentions")
  table#recentMentionsTable.table.table-striped
    tbody
      each mentions
        tr.recentMentionsTableRow
          td
            a(href=source) {{moment date}}
        tr.kwic #{kwic}
