template(name="recentMentions")
  each sources
    .panel-heading
      h4
        a(href=uri) {{moment date}}
    table#recentMentionsTable.table.table-striped
      tbody
        each mentionsForSource _id
          tr.recentMentionsTableRow
            td.kwic #{kwic}
