template(name="recentAgents")
  .col-md-6.col-md-offset-3
    each articles
        .col-md-8.col-xs-7.articleHeader
          h4
            a.proMedLink.articleHeaderText(href="#" uri=uri) {{postSubject}}
        .col-md-4.col-xs-5.articleHeader.ital
          h4
            .pull-right {{age date}}
        table#recentAgentsTable.table
          tbody
            each recentAgentsForArticle _id collapsed
              tr
                td.recentlyMentionedInfectiousAgentsTableRow(data-agentname=word)
                  a(href="/detail/{{plus word}}")= word
                td.ital
                  if priorArticle
                    .pull-right
                      span.boldrange {{since ../date priorDate}}
                      span since
                      a.proMedLink(href="#" uri=priorArticle) prior mention
                  else
                    span.no-priors.pull-right no prior mentions
        if collapsed
          .more.text-center
            button(type="button").btn.btn-show-all-ia Show All Infectious Agents for Article
    if isLoading
      .loading.spinner-margin
        i.fa.fa-spinner.fa-2x.fa-spin
    else
      unless theEnd
        button(type="button").btn.btn-info.load-more-articles Load More
