template(name="recentMentions")
  .list
    if endDate
      p.centered
        b Posts before:
        | #{endDate}
    each sources
      article.source
        .source--details.details
          h1
            a.promed-link.featured.article-header-text(href="#" uri=uri)=postSubject
          .time-link
            p {{ageOrDate date}}
        ul.source-mentions.list--sub-group.list-unstyled
          each mentionsForSource _id
            li
              p.kwic #{kwic}
    else
      if ready
        p.no-priors.centered.subtle No Recent Mentions
      else
        .loading.spinner-margin
          i.fa.fa-spinner.fa-2x.fa-spin
