template(name="trendingAgents")
  .col-md-6.col-md-offset-3
    h4.col-md-5.iaHeader Infectious Agents trending in the last:
    select#trendingRange.col-md-7.form-control
      option(value="year") Year
      option(value="month") Month
      option(value="week") Week
    .col-md-12
      table#trendingAgentsTable.table
        tbody
          each trendingAgents
            tr
              td.trendingInfectiousAgentsTableRow(data-agentname=word)
                div.fmia-word
                  a(href="/detail/#{word}")= word
              td.ital {{rate}} / {{rate2}}
              td.ital
                div.pull-right trending at {{result}}
          else
            if ready
              span.no-priors.col-md-12 No Trending Infectious Agents in the last
                {{trendingRange}}.
            else
              .loading.spinner-margin
                i.fa.fa-spinner.fa-2x.fa-spin
