$letter-spacing = .03em
$letter-spacing-loose = $letter-spacing  .01em
$letter-spacing-tight = $letter-spacing - .01em

body
  padding-bottom 100px
  font-family 'Open Sans', sans-serif
  font-weight 400
  color $body-text

p
  &.subtle
    color $m-gray
  &.centered
    text-align center
    margin 5em 0
    padding-left 1em
    padding-right 1em

a
  &:hover
  &:focus
    text-decoration none

.container-fluid-padded
  padding-left 3%
  padding-right 3%

.ital
  font-style italic
