$letter-spacing = .03em
$letter-spacing-loose = $letter-spacing + .01em
$letter-spacing-tight = $letter-spacing - .01em


body
  padding-bottom 100px
  font-family 'Open Sans', sans-serif
  font-weight 300
  color $body-text

.spinner
  position fixed
  background-color $d-gray
  opacity .3
  width 100%
  height 100%
  z-index 99999

.spinner-element
  font-size 300px
  position fixed
  left 40%
  top 30%
  z-index 99999

.spinner-margin
  margin 40px

.underline
  text-decoration underline

.panel-default > .panel-heading
  color $secondary-dark

.ital
  font-style italic
