.navbar
  height 60px

.logo
  position absolute
  top 3px
  left 50%
  height 50px
  width 420px
  transform translate(-50%, 0)
  margin-left 0
  background url(images/logo.svg) no-repeat
  background-position center center
