.rmia-word:hover
  cursor pointer
  cursor hand
  color $secondary

.fmia-word:hover
  cursor pointer
  cursor hand
  color $secondary

#trendingRange
#timelineRange
  width 100px
  margin 10px

.iaHeader
  margin-top 20px
  margin-right 10px
  color $primary
  text-align-last right

.more
  margin-top -20px
  margin-bottom 50px
  text-align center

.load-more-articles
  display block
  padding 10px
  margin 0 auto

.loading
  text-align center

.clear
  clear both

.article-header
  font-weight bold

.article-header-text
  color $secondary
  margin-left -10px

.main-header-text
  margin-bottom 1.5em
  color $primary
  text-align center

.dbSummaryHeaderText
  color $primary
  padding 20px
  text-align center

.descriptor-header-text
  color $primary
  text-align center

.description-heading
  font-weight 700

.app-description-container
  position relative
  padding-top 4em
  padding-bottom 4em
  background-color $secondary
  color white
  text-align center
  font-weight 300
  p
    padding-left 20%
    padding-right 20%
    letter-spacing .05em
    &:last-of-type
      margin-bottom 0

.header-description
  line-height 1.5
  font-size 1em
  margin-bottom 1em
  +above(2)
    font-size 2em

.page-description
  font-weight 300
  line-height 1.7em
  margin-bottom 20px
  &.main
    font-size 1.5em
  &.minor
    font-size: 1.35em

.boldrange
  font-weight bold

.btn-show-all-ia
  display block
  width 40%
  max-width 600px
  min-width 400px
  padding .75em 5em
  margin 0 auto
  border 1px solid $positive
  border-top-left-radius 0
  border-top-right-radius 0
  border-top  0
  background none
  color darken($positive, 20%)
  &:hover
    background lighten(@color, 90%)
    color darken(@color, 40%)
  &:active
  &:active:focus
  &:focus
    background lighten(@color, 75%)
    color darken(@color, 40%)
    box-shadow none
    outline 0

#timelineDiv
  width 100%

.chartjs-hidden-iframe
  position relative

.main-content
  position relative
  +above(3)
    margin-top 30px

.hide-app-desc
.show-app-desc
  position absolute
  cursor pointer

.show-app-desc
  top 25px
  right 15px
  transform translate(0, -50%)
  +below(2)
    display none

.hide-app-desc
  top 15px
  right 15px

.fa-question-circle
  color grey

.highlight
  background-color yellow

label
  color $primary
