body
  padding-bottom 100px
  font-family Lato,sans-serif
  font-weight 300
  color #373a3c

.rmia-word:hover
  cursor pointer
  cursor hand
  color blue

.fmia-word:hover
  cursor pointer
  cursor hand
  color blue

.spinner
  position fixed
  background-color grey
  opacity .3
  width 100%
  height 100%
  z-index 99999

.spinner-element
  font-size 300px
  position fixed
  left 40%
  top 30%
  z-index 99999

.spinner-margin
  margin 40px

.underline
  text-decoration underline

.panel-default > .panel-heading
  color $secondary-dark

.no-priors
  font-weight bold
  color darkorange

#trendingRange, #timelineRange
  width 100px
  margin 10px

.iaHeader
  margin-top 20px
  color darkorange

.more
  text-align center

.load-more-articles
  display block
  padding 10px
  margin 0 auto

.loading
  text-align center

.clear
  clear both

.nav-tabs > li, .nav-pills > li
  float none
  display inline-block
  width 300px
.nav-tabs
    text-align center
    border-bottom 3px solid darkorange

.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li > a:focus
  color darkorange
  background-color oldlace

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
  color white
  font-weight bold
  background-color darkorange

.navbar-default
  margin-bottom 0px

.articleHeader
  font-weight bold
  margin-top 2em

.articleHeaderText
  color deepskyblue
  margin-left -10px

.mainHeaderText
  color darkorange
  padding 20px
  text-align center

.headerDescriptionContainer
  background-color #0ba5ff
  color white
  padding 20px
  line-height 1.3
  text-align center
  margin-bottom 30px

.headerDescription
  line-height 1.3
  font-size 1.6em
  margin-bottom 1em

.ital
  font-style italic

.table td
  border-top 1px solid lightgrey
  border-bottom 1px solid lightgrey
  padding 20px

.boldrange
  font-weight bold

.btn-show-all-ia
  border 1px solid mediumaquamarine
  background-color white
  color mediumaquamarine
  border-top none
  margin-left 65%
