.kwic
  white-space nowrap
  margin auto
  :nth-child(1)
    text-align right
  :nth-child(1)
  :nth-child(2)
    display inline-block
    width 23em
    white-space nowrap
    strong
      display inline
      margin-right 0px

.source--details
  +above(2)
    margin-bottom 0
    h4
      margin-bottom 0

.source-mentions
  li
    display flex
    flex-direction column
    align-items center
    justify-content center
    padding-top 1em
    padding-bottom 1em
