.post
  margin-bottom 4.5em

.post--mentions
  margin 0
  li
    display flex
    align-items center
    border-color lighten($border-gray, 30%)
  .prior-mentions
    margin-left auto
    color $d-gray
    font-weight 300
    font-style italic
    span
      &:nth-of-type(1)
        font-weight 400
      &:nth-of-type(2)
        margin-left .1em
        margin-right .3em
      &.no-priors
        font-weight 600
        color $negative

.details
  .time-since
    font-size .95em
    color $d-gray
    font-style italic
    margin 0

  .seperator
    border 1px solid $border-gray
    margin 0 .75em
    align-self stretch
