#recentMentionsTable
  .kwic
    white-space nowrap
    margin auto
    :nth-child(1)
      text-align right
    :nth-child(1)
    :nth-child(2)
      display inline-block
      width 23em
      white-space nowrap
      strong
        display inline
        margin-right 0px
