#recentMentionsTable
  .kwic
    text-align center
    margin auto
    :nth-child(1)
      margin-right .5em
    :nth-child(1)
    :nth-child(2)
      display inline-block
      strong
        display inline
        margin-right 0px
