.table td
  border-top 1px solid $l-gray
  border-bottom 1px solid $l-gray
  padding 20px

hr
  position relative
  background-color $secondary
  height 3px
  width 100%
  bottom 53px
  border 0

.hr-padding
  padding-left 0px
  padding-right 0px
