.timeline-range-selector
  padding-left 0
  a
    color $secondary
  li
    display inline
    margin 5px
  li.active a
    text-decoration underline
    color $secondary-dark

.timeline-range-selector
  display inline
  margin-left .5em

.timeline-range-controls
  line-height 2.5em
  text-align center
