.trend-interval
  margin-bottom 1em
  flex 1
  +above(2)
    margin-right 2em
    margin-bottom 0

.trend-date
  flex 1
  +above(2)
    margin-left auto

.trending-agents
  li
    display flex
    align-items flex-end
    flex-direction row
  .relative-strength
    margin-left auto

.trend-seasonality
  flex 1

.power-bar
  display inline-block
  vertical-align middle
  width 1.3em
  height .3em
  margin-left .5em
  background-color $primary
