.trend-date
  +above(2)
    margin-left auto

.trending-agents
  li
    display flex
    align-items flex-end
    flex-direction row
  .relative-strength
    margin-left auto

.power-bar
  display inline-block
  vertical-align middle
  width 1.3em
  height .3em
  margin-left .5em
  background-color $primary
