$primary        = rgba(255, 151, 11, 1)
$primary-light  = rgba(255, 244, 230, 1)
$primary-dark   = darken($primary, 40%)
$secondary      = rgba(11, 165, 255, 1)
$secondary-dark = darken($secondary, 40%)

$positive       = rgba(111, 210, 168, 1)
$negative       = rgba(255, 124, 75, 1)

$conform = $positive
$delete = $negative

$link-colors = {
  link: $positive
  active: darken($positive, 20%)
  hover: $secondary
}

$dd-gray     = #333
$d-gray      = #999
$ll-gray     = #f9f9f9
$l-gray      = #e7e7e7
$m-gray      = #CCC
$white-trans = rgba(255,255,255,.7)

$body-text   = $dd-gray
