$pole = 40%

$primary         = rgba(255, 172, 60, 1)
$primary-light   = rgba(255, 244, 230, 1)
$primary-dark    = darken($primary, $pole)
$secondary       = rgba(11, 165, 255, 1)
$secondary-dark  = darken($secondary, $pole)
$secondary-light = lighten($secondary, $pole)

$positive       = rgba(111, 210, 168, 1)
$negative       = rgba(255, 124, 75, 1)

$confirm = $positive
$delete  = $negative
$warning = rgba(242, 173, 64, 1)

$link-colors = {
  link: $positive
  active: darken($positive, 20%)
  hover: $secondary
}

$dd-gray     = #333
$d-gray      = #999
$ll-gray     = #f9f9f9
$l-gray      = #e7e7e7
$m-gray      = #CCC
$white-trans = rgba(255,255,255,.7)

$body-text = $dd-gray

$border-gray          = lighten(#DDD, 20%)
$border-primary       = lighten($primary-light, 70%)
$border-primary-l     = lighten($border-primary, 20%)
$border-primary-d     = darken($border-primary, 20%)
$border-secondary     = lighten($secondary-light, 70%)
$border-secondary-l   = lighten($border-secondary, 20%)
$border-secondary-d   = darken($border-secondary, 20%)
$highlight-color      = lighten($primary-light, 70%)
$border-btn = #95989A

$nav-text-color = lighten($body-text, 25%)

$max-ui-width = 1000px
